.Container {
  width: 80dvw;
  height: 10dvh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

/* Berger menu styles */
.bergerMenuContainer {
  display: none;
  width: 20px;
  height: 20px;
}
.bergerImg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.bergerMenu {
  display: flex;
  position: fixed;
  top: 10dvh;
  left: 10vw;
  width: 30dvh;
  height: 90dvh;
  background-color: #6a3ecf;
  z-index: 999;
}
.bergerMenuInActive {
  display: none;
}
/* Menu styles */
.Menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: black;
  font-size: 1.2rem;
}
.menuLink {
  width: 10%;
}
.menuLink a {
  margin: 0 25px;
  color: #585858;
  transition: ease 0.2s all;
}
.menuLink a:hover {
  color: #4d13d1;
}
.BtnSignIn {
  color: black;
  font-weight: bold;
  margin: 20px;
  transition: ease 0.3s all;
}
.BtnSignIn:hover {
  color: #4d13d1;
}
.BtnSignUp {
  color: white;
  background-color: #4d13d1;
  font-weight: bold;
  margin: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  transition: ease 0.3s all;
}
.BtnSignUp:hover {
  background-color: #6a3ecf;
}
/* Responsive styles */
/* Mobile */
@media (max-width: 700px) {
  .Menu {
    display: none;
  }
  .bergerMenuContainer {
    display: flex;
  }
}
/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .menuLink {
    width: fit-content;
  }
  .menuLink a {
    margin: 0 10px;
  }
  .BtnSignIn {
    margin: 10px;
  }
  .BtnSignIn:hover {
    color: #4d13d1;
  }
  .BtnSignUp {
    margin: 10px;
    padding: 10px 15px;
  }
}
